@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "DungGeunMo";
  color: white;
}
body {
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  width: 80%;
  height: 100%;
  border: 8px double white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  gap: 30px;
  display: none;
}
.main {
  border: none;
  flex: 7.5;
}
.user {
  width: 80%;
  border: 8px double white;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
}
#user_form {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.user #user_form #user_id {
  border: 2px solid white;
  background-color: darkblue;
  white-space: wrap;
  padding: 0 5px;
}
.user #user_form #user_btn {
  width: 50px;
  color: black;
}
.user #user_form #user_btn .allUser {
  margin-left: 10px;
}
.user #user_out {
  display: none;
  color: black;
  background-color: white;
}
.chat_box {
  border: 2px solid white;
  height: 64.5vh;
  margin-bottom: 50px;
  padding-bottom: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.chat_box #text,
.userlist #userText {
  width: 100%;
  display: flex;
  height: 30px;
  border: none;
  border-bottom: 2px solid white;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.userlist .dmBtn {
  margin-left: 5px;
  color: black;
}
.noticeIn {
  width: 80%;
  color: yellow;
  padding-bottom: 3px;
  border-bottom: 2px dashed white;
  margin-bottom: 5px;
}
.noticeOut {
  width: 80%;
  color: yellow;
  padding-bottom: 3px;
  border-bottom: 2px dashed white;
  margin-bottom: 5px;
}
.myMsg {
  width: 100%;
  text-align: end;
  border: none;
  padding-right: 20px;
}
.anotherMsg {
  width: 100%;
  text-align: start;
  border: none;
  padding-left: 20px;
}
.directMsg {
  width: 100%;
  border: none;
  background-color: black;
}
.chat {
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
#chat_form {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.chat #chat_form #chat_input {
  border: 2px solid white;
  background-color: darkblue;
  width: 100%;
  white-space: wrap;
  padding: 0 5px;
}
.chat #chat_form #chat_btn {
  width: 50px;
  color: black;
}
.userlist {
  border: 2px solid white;
  flex: 2.5;
}
